/*Css reset */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-width: 1500px;
    margin: 0 auto;


}


/*Carosello*/

#carosello {

    height: 400px;
    width: 700px;
    margin: 30px auto;
    /* per non averlo appiccicato */
    position: relative;
    /*da riferimento senza coordinate*/
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

}


#carosello .gallery {

    height: 100%;
}

/*carosello a scorrimento*/
#carosello img {

    width: 100%;
    height: 100%;
    border-radius: 20px;
    /*stondatura dei bordi*/

    display: none;
    /*facciamo scomparire tutto meno uno*/

}

#carosello img.active {

    display: block;
}


/*se faccio ispeziona chiaramente posso gestirmi la classe active nelle immagini che voglio */


#carosello .bi {

    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /*devo recuperare lo spazio*/
    cursor: pointer;

}


#prev {

    right: 105%;
    /*spingo di più*/
}

#next {

    left: 105%;
}




/*Miniature*/


#thumdnails {

    width: 700px;
    margin: 0 auto;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;



}

#thumdnails img {

    height: 100%;
    width: 19%;
    /*dare un pò di gioco allo space bettween*/
    border-radius: 10px;
    filter: grayscale(1);

    cursor: pointer;
    /*effetto visivo*/
    transition: transform 0.5s;
    /*dice al css che quando c'è un cambaimento nelle proprietà deve essere modificata in un tempo */
}


#thumdnails img.hover {

    transform: translateY(-10px);
    filter: grayscale(0.5);

    box-shadow: 0 0 10px goldenrod;



}

#thumdnails img.active {

    filter: grayscale(0);
    box-shadow: 0 0 10px dodgerblue;

}